# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    open-pull-requests-limit: 30
    schedule:
      interval: "monthly"
      time: "02:42" # UTC
    commit-message:
      prefix: "build(cargo):"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "02:42" # UTC
    commit-message:
      prefix: "ci(actions):"
