name: Test Coverage

on:
  push:
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
        id: rust
        with:
          components: llvm-tools-preview
      - uses: taiki-e/install-action@cargo-llvm-cov

      - uses: actions/checkout@v6
      - run: cargo fetch
      - uses: actions/cache@v5
        with:
          key: coverage-${{ steps.rust.outputs.cachekey }}-${{ hashFiles('**/Cargo.*') }}
          path: target/

      - run: cargo llvm-cov --html

      - uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: target/llvm-cov/html
